.home {
    width: 100%;
    min-height: 100vh;
    background-color: grey;
}

.home .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10px;
}

.home .container .home_text {
    width: 45%;
    margin-top: 10%;
    font-family: sans-serif;
}

.home .container .home_img {
    width: 500px;
    height: 500px;
    background: url(./public/me.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    border-radius: 50%;
}

.home .container .home_text h2 {
    font-size: 30px;
}

.home .container .home_text h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
}